* {
    /* border:2px solid red;*/
}
body{
    margin: 0;
    background-color: #F5EFE6;
    font-size: 2.5rem;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #182747;
}

.main-container{
    display: flex;
    background-color: #E8DFCA;
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.explain-for-mobile{
    display: none;
    font-size: 1.5rem;
    margin: 5px 0;
    width: 300px;
}
textarea{
    display:none;
    margin-top: 10px;
    border-radius: 180px;
    width:50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.show-letter-container{
    display: flex;
    background-color: #AEBDCA;
    width: 300px;
    height: 300px;
    border-radius: 50px 0;
    border: 3px solid #7895B2;
    padding: 5px;;
    align-items: center;
    justify-content: center;
}

.english-letter{
    font-size: 200px;
    font-weight: 900;
    color: #7D6E83;
}